{% extends 'base.html' %}

{% block content %}

<div class="row">
    <div class="col-md-6 offset-md-3 col-sm-12 offset-sm-0">
        <div class="jumbotron">
            <h2 align="center" class="retro-font">{{player}}'s turn</h2>
            <h4 align="center">Guess the image that the AI generated below</h4>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 offset-md-3 col-sm-8 offset-sm-2">
        <div class="row">
            <img />
        </div>
        <form method="POST" action="/filler">

            <div class="form-group row">
                <label for="guessed" class="col-sm-3 col-form-label retro-font">Guess the Caption</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="guessed" value="">
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <button type="submit" class="btn btn-primary retro-font">Submit Guess</button>
                </div>
            </div>
        </form>
    </div>

</div>

{% endblock %}